body {
  background-color: blanchedalmond;
  padding: 0 8px;
  font-family: 'Jua', sans-serif;
  max-width: 1000px;
}

header {
  padding: 8px 0 16px 0;
  display: flex;
  justify-content: space-between;
}

header .Logo-title {
  display: flex;
  margin-bottom: 4px;
}

header .Logo-title-name {
  display: flex;
  align-items: flex-end;
  padding-left: 8px;
  font-size: 30px;
}

header .Logo-subtitle {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

header nav {
  font-size: 20px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.ad img {
  width: 100%;
  max-width: 1000px;
}
